.nav{
  padding-top: 47px;
  padding-bottom: 110px;

  @media(max-width:1400px){
    padding-top: 40px;
    padding-bottom: 80px;
  }

  @media(max-width:767px){
    padding-top: 30px;
    padding-bottom: 60px;
  }
}

.nav__row{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  gap: 30px;

  @media(max-width:1400px){
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }

  @media(max-width:767px){
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: auto auto;
    grid-template-areas:
      'btn mobile-btn'
      'logo logo';
    row-gap: 30px;
    column-gap: 12px;
  }
}

.nav__list{
  @media(max-width:767px){
    display: none;
  }
}

.nav__logo{
  text-align: center;

  @media(max-width:767px){
    grid-area: logo;
  }
}

.nav__btn{
  text-align: right;

  @media(max-width:767px){
    text-align: left;
    grid-area: btn;
  }
}

.nav__mobile-btn{
  display: none;

  @media(max-width:767px){
    display: inline-block;
    text-align: right;
    grid-area: mobile-btn;
  }
}

.nav__mobile{
  display: none;
}

@media (max-width: 767px) {
  .nav__mobile {
    display: block;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transform: translateY(-8px);
    transition: all 0.4s ease;
  }

  .nav--mobile-open .nav__mobile{
    max-height: 340px;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
  }
}
